[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astropy = "*"
cffi = "*"
colorama = "*"
colorlog = "*"
corner = "*"
emcee = "*"
joblib = "*"
jsonschema = "*"
matplotlib = "*"
numpy = "*"
pillow = "*"
pre-commit = "*"
python-dateutil = "*"
scikit-image = "*"
scipy = "*"
spectres = "*"
sphinx = "*"
tqdm = "*"
wget = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
